.header-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.boutton-inscri {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

h1{
    color: rgb(0, 0, 0);
}